<script lang="ts">
    import {Vue} from 'vue-property-decorator'

    export default abstract class XdrippCsvInstruction extends Vue {
        abstract get assetsPathPrefix(): string

        protected getImageUrl(filename: string) {
            const images = require.context('@/assets/instruction/')
            return images('./' + this.assetsPathPrefix + filename)
        }
    }
</script>

<style lang="scss">
    img {
        height: 100%;
        width: 100%;
    }

    .instruction {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }

    .instruction ol {
        text-align: left;
    }

    .instruction li {
        padding: 10px;
    }

    .instruction-left {
        text-align: left;
    }
</style>
