<template>
    <div class="instruction">
        <h1>{{ 'GlimpCsvInstructionHead' | localize }}</h1>
        <div class="instruction-left">
            {{ 'GlimpCsvInstructionCopyLocalFile' | localize }}

        </div>
        <ol>
            <li>{{ 'GlimpCsvInstructionMainWindow' | localize }}
                <img :src="getImageUrl('/glimp_main_window.jpg')" alt="glimp_main_window"></li>
            <li>{{ 'GlimpCsvInstructionMainMenu' | localize }}
                <img :src="getImageUrl('/glimp_main_menu.jpg')" alt="glimp_main_menu"></li>
            <li>{{ 'GlimpCsvInstructionSettings' | localize }}
                <img :src="getImageUrl('/glimp_settings.jpg')" alt="glimp_settings"></li>
            <li>{{ 'GlimpCsvInstructionCloudSettings' | localize }}
                <img :src="getImageUrl('/glimp_cloud_settings.jpg')" alt="glimp_cloud_settings"></li>
            <li>{{ 'GlimpCsvInstructionDropboxAllowGlimp' | localize }}
                <img :src="getImageUrl('/dropbox_allow_glimp.jpg')" alt="dropbox_allow_glimp"></li>
            <li>{{ 'GlimpCsvInstructionFileInDropbox' | localize }}</li>
        </ol>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import BaseInstruction from "@/views/instruction/BaseInstruction.vue";
    import {ServiceFactory} from "@/services/ServiceFactory";

    @Component
    export default class GlimpCsvInstruction extends BaseInstruction {
        get assetsPathPrefix() {
            return ServiceFactory.glimpCsvServiceName + '/' + Vue.filter('localize')('AssetsPath')
        }
    }
</script>
