<template>
    <div class="instruction">
        <h1>{{ 'OneTouchRevealCsvInstructionHead' | localize }}</h1>
        <ol>
            <li>{{ 'OneTouchRevealCsvInstructionMainWindow' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_main_window.jpg')" alt="xdripp_main_window"></li>
            <li>{{ 'OneTouchRevealCsvInstructionExportMenu' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_export_menu.jpg')" alt="xdripp_main_menu"></li>
            <li>{{ 'OneTouchRevealCsvInstructionExportParams' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_export_params.jpg')" alt="xdripp_export_menu"></li>
            <li>{{ 'OneTouchRevealCsvInstructionPeriodSelect' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_period_select.jpg')"
                     alt="xdripp_csv_date_start_form"></li>
            <li>{{ 'OneTouchRevealCsvInstructionOpenIn' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_open_in.jpg')" alt="xdripp_csv_date_start_apply">
            </li>
            <li>{{ 'OneTouchRevealCsvInstructionAppSelect' | localize }}
                <img :src="getImageUrl('/one_touch_reveal_csv_app_select.jpg')"
                     alt="xdripp_csv_export_path_notification"></li>
        </ol>
    </div>
</template>

<script lang="ts">
    import {Component} from 'vue-property-decorator'
    import BaseInstruction from "@/views/instruction/BaseInstruction.vue";
    import {ServiceFactory} from "@/services/ServiceFactory";

    @Component
    export default class OneTouchRevealCsvInstruction extends BaseInstruction {
        get assetsPathPrefix() {
            return ServiceFactory.oneTouchRevealCsvServiceName
        }
    }
</script>
