<template>
    <div class="instruction">
        <h1>{{ 'XdrippCsvInstructionHead' | localize }}</h1>
        <ol>
            <li>{{ 'XdrippCsvInstructionMainWindow' | localize }}
                <img :src="getImageUrl('/xdripp_main_window.jpg')" alt="xdripp_main_window"></li>
            <li>{{ 'XdrippCsvInstructionMainMenu' | localize }}
                <img :src="getImageUrl('/xdripp_main_menu.jpg')" alt="xdripp_main_menu"></li>
            <li>{{ 'XdrippCsvInstructionExportMenu' | localize }}
                <img :src="getImageUrl('/xdripp_export_menu.jpg')" alt="xdripp_export_menu"></li>
            <li>{{ 'XdrippCsvInstructionDateStartForm' | localize }}
                <img :src="getImageUrl('/xdripp_csv_date_start_form.jpg')" alt="xdripp_csv_date_start_form"></li>
            <li>{{ 'XdrippCsvInstructionDateStartApply' | localize }}
                <img :src="getImageUrl('/xdripp_csv_date_start_apply.jpg')" alt="xdripp_csv_date_start_apply"></li>
            <li>{{ 'XdrippCsvInstructionExportPathNotification' | localize }}
                <img :src="getImageUrl('/xdripp_csv_export_path_notification.jpg')"
                     alt="xdripp_csv_export_path_notification"></li>
        </ol>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import BaseInstruction from "@/views/instruction/BaseInstruction.vue";
    import {ServiceFactory} from "@/services/ServiceFactory";

    @Component
    export default class XdrippCsvInstruction extends BaseInstruction {
        get assetsPathPrefix() {
            return ServiceFactory.xdrippCsvServiceName + '/' + Vue.filter('localize')('AssetsPath')
        }
    }
</script>
