<template>
    <div class="instruction">
        <h1>{{ 'XdrippSqliteInstructionHead' | localize }}</h1>
        <p class="warning"><span class="attention">{{ 'AttentionTitle' | localize }}</span>
            {{ 'XdrippSqliteInstructionAttentionContent' | localize }} <b>
                <router-link :to="{name: 'XdrippCsvInstruction'}">{{
                        'XdrippCsvInstructionLinkText' | localize
                    }}
                </router-link>
            </b>.
        </p>
        <ol>
            <li>{{ 'XdrippSqliteInstructionMainWindow' | localize }}
                <img :src="getImageUrl('/xdripp_main_window.jpg')" alt="xdripp_main_window"></li>
            <li>{{ 'XdrippSqliteInstructionMainMenu' | localize }}
                <img :src="getImageUrl('/xdripp_main_menu.jpg')" alt="xdripp_main_menu"></li>
            <li>{{ 'XdrippSqliteInstructionExportMenu' | localize }}
                <img :src="getImageUrl('/xdripp_export_menu.jpg')" alt="xdripp_export_menu"></li>
            <li>{{ 'XdrippSqliteInstructionExportPathNotification' | localize }}
                <img :src="getImageUrl('/xdripp_sqlite_export_path_notification.jpg')"
                     alt="xdripp_csv_export_path_notification"></li>
        </ol>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import BaseInstruction from "@/views/instruction/BaseInstruction.vue";
    import {ServiceFactory} from "@/services/ServiceFactory";

    @Component
    export default class XdrippCsvInstruction extends BaseInstruction {
        get assetsPathPrefix() {
            return ServiceFactory.xdrippSqliteServiceName + '/' + Vue.filter('localize')('AssetsPath')
        }
    }
</script>
<style scoped lang="scss">
    .warning {
        background-color: #ff9191;
        padding: 10px;
        color: #000000;
    }

    .attention {
        color: #d70000;
        font-weight: bold;
    }

    a {
        color: #12824e
    }
</style>