<template>
    <div class="about">
        <h1>{{ 'AboutPageHead' | localize }}</h1>
        <p>{{ 'AboutPageDescription' | localize }} <b>
            <router-link :to="{name: 'Home'}">{{ 'AboutPageHomeLink' | localize }}</router-link>
        </b>.
        </p>
        <p>{{ 'AboutPageAddFormat' | localize }} <b>
            <router-link :to="{name: 'Feedback'}">{{ 'FeedbackLink' | localize }}</router-link>
        </b>.
        </p>
        <p>{{ 'AboutPageErrorReporting' | localize }}</p>
        <p class="warning"><span class="attention">{{ 'AttentionTitle' | localize }}</span>
            {{ 'AboutPageAttentionContent' | localize }}</p>
        <p>{{ 'AboutPageEnd' | localize }}</p>
    </div>
</template>

<style scoped lang="scss">
    .about {
        max-width: 800px;
    }

    .warning {
        background-color: #ff9191;
        padding: 10px;
        color: #000000;
    }

    .attention {
        color: #d70000;
        font-weight: bold;
    }

    a {
        color: #42b983
    }
</style>
