<template>
    <div>
        <h1>{{ 'SelectTheUploadFileFormat' | localize }}</h1>
        <img id=logo alt="Vue logo" src="../assets/diabetes_logo.png">
        <div>
            <span v-for="value in serviceList" v-bind:key="value.typeName">
                <router-link class="button-wrapper"
                             :to="{name: 'DataLoader', params: {serviceType: value.typeName}}">
                    <GreenButton v-bind:isActive=true v-bind:name="value.representation"/>
                </router-link>
            </span>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import DataLoader from '@/components/DataLoader.vue'; // @ is an alias to /src
    import GreenButton from "@/views/GreenButton.vue"
    import {ServiceFactory} from "@/services/ServiceFactory";

    @Component({
        components: {
            DataLoader,
            GreenButton
        },
    })
    export default class ChartMain extends Vue {
        private readonly serviceList = ServiceFactory.serviceTypeList
    }
</script>
<style scoped lang="scss">
    .button-wrapper {
        margin: 30px;
        display: inline-block;
    }
</style>