<template>
    <div>
      <h2>{{ 'Donate' | localize }}</h2>
      <a href="https://boosty.to/apres/donate" target="_blank" title="Boosty" rel="noopener noreferrer">
        <img class="button" src="../assets/boosty_logo.png" alt="boosty diahelper">
      </a>
      <img src="../assets/boosty_qr.png" alt="boosty diahelper qr">
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import GoogleAnalytics from "@/components/GoogleAnalytics.vue";

@Component
export default class Donate extends Vue {
  private goToDonate() {
    GoogleAnalytics.sendChartPageEventToGoogle('goToDonate', 'commonInterface')
  }
}
</script>

<style scoped lang="scss">
  @import "~@/styles/button.scss";
  a img {
    width:240px;
    height:79px;
    background-color: #7C7C7C;
  }
  a img:hover {
    background-color: #acabab;
  }
  img {
    display: block;
    margin: 0 auto;
  }
</style>
