<template>
    <span>
        <input type="file" id="file" :accept=acceptFileFormat ref="file"
               @change="$emit('fileUpload', $event.target.files[0])"/>
        <label class="button" for="file">
            {{ fileAreaTextKey }}
        </label>
    </span>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator'

    @Component
    export default class FileInput extends Vue {
        @Prop() fileName!: string | null
        @Prop() acceptFileFormat!: string

        get fileAreaTextKey() {
            return this.fileName ?? Vue.filter('localize')('NoFileSelected')
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/styles/button.scss";

    input[type=file] {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1
    }

    .button {
        display: inline-block;
        height: 16px;
    }

    .button::before {
        content: url(~@/assets/file_input_icon.png);
        width: 19px;
        height: 16px;
        vertical-align: middle;
        padding-right: 5px;
        display: inline-block;
    }
    .button {
      background-color: rgb(43, 153, 91);
      border: 1px solid rgb(33, 126, 74);
    }
    .button:hover {
      background-color: rgb(75, 183, 141);
    }
</style>
