<script lang="ts">
    import ParentButton from './ParentButton.vue'
    import {Component} from 'vue-property-decorator'

    @Component
    export default class GreenButton extends ParentButton {
      buttonClass = 'button-green';
    }
</script>

<style lang="scss">
  .button-green {
    background-color: rgb(43, 153, 91);
    border: 1px solid rgb(33, 126, 74);
  }
  .button-green:hover {
    background-color: rgb(75, 183, 141);
  }
</style>
