<template>
    <div id="nav">
        <router-link :to="{name: 'Home'}">{{ 'Home' | localize }}</router-link>
        |
        <router-link :to="{name: 'ChartMain'}">{{ 'GlucoseChart' | localize }}</router-link>
        |
        <router-link :to="{name: 'HelperMap'}">{{ 'HelperMap' | localize }}</router-link>
        |
        <router-link :to="{name: 'About'}">{{ 'About' | localize }}</router-link>
        |
        <router-link :to="{name: 'Feedback'}">{{ 'ContactUs' | localize }}</router-link>
      <div id="attention">
        <router-link :to="{name: 'Nightscout'}">Nightscout</router-link>
      </div>
    </div>
</template>

<script lang="ts">
    import {Vue} from "vue-property-decorator";

    export default class Header extends Vue {
    }
</script>

<style scoped lang="scss">
    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
    #attention {
        padding-top: 15px;

        a {
            font-weight: bold;
            font-size: 150%;
            color: #0b03ff;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
</style>
