<template>
  <div id="map">
    <p>{{ 'HelpMapAbout' | localize }}</p>
    <p>{{ 'HelpMapAddContacts' | localize }}</p>
    <router-link :to="{name: 'AddHelperForm'}">
      <GreenButton v-bind:isActive=true v-bind:name="'HelpMapAddContactsButton' | localize "/>
    </router-link>
    <l-map id="l-map"
        :zoom="zoom"
        :center="center"
    >
      <l-tile-layer
          :url="url"
          :attribution="attribution"
      />
      <l-marker v-for="pin in pinList" :key="pin.id" :lat-lng="[pin.lat, pin.lng]">
        <l-popup>
          <div>
            <b>{{ 'Name' | localize }}:</b> {{ pin.name }}<br>
            <b>{{ 'Phone' | localize }}:</b> {{ pin.phone }}
          </div>
        </l-popup>
      </l-marker>
    </l-map>
    <p>{{ 'HelpMapRemoveContacts' | localize }}</p>
    <router-link :to="{name: 'RemoveHelperForm'}">
      <RedButton v-bind:isActive=true v-bind:name="'HelpMapRemoveContactsButton' | localize "/>
    </router-link>
    <ModalWindow v-if="isError" @close=clearError v-bind:isSuccess=false>
      <p slot="body">{{ errorMessage }}</p>
    </ModalWindow>
  </div>
</template>

<script lang="ts">
import {latLng} from "leaflet";
import {LMap, LTileLayer, LMarker, LPopup} from "vue2-leaflet";
import 'leaflet/dist/leaflet.css';
import {Component, Vue} from 'vue-property-decorator'
import GreenButton from "@/views/GreenButton.vue"
import RedButton from "@/views/RedButton.vue"
import ModalWindow from "@/views/ModalWindow.vue"

@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    GreenButton,
    RedButton,
    ModalWindow,
  }
})
export default class Map extends Vue {
  zoom = 2
  center = latLng(50, 0)
  url = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
  attribution = '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  private errorMessage = ''
  pinList = []
  mounted() {
    fetch(process.env.VUE_APP_API_HOST + '/helper-map', {method: "GET"})
        .then(response => {
              if (!response.ok) {
                response.json()
                    .then(text => {
                          throw Error(text)
                        }
                    )
                    .catch((error) => this.setError(error.message))
              } else {
                response.json()
                    .then(data => {
                          this.pinList = data
                        }
                    )
                    .catch((error) => this.setError(error.message))
              }
            }
        )
        .catch(() => this.setError('DefaultErrorMessage'))
  }

  private get isError() {
    return this.errorMessage !== '';
  }

  private setError(errorCode: string) {
    this.errorMessage = errorCode;
  }

  private clearError() {
    this.errorMessage = ''
  }
}
</script>

<style scoped lang="scss">
  #l-map {
    height: 80%;
    margin: 10px;
  }
  #map {
    height: 90vh;
    width: 80vw;
    padding: 0 10%;
  }
</style>