<template>
  <div class="home">
    <router-link class="button-wrapper"
                 :to="{name: 'ChartMain'}">
      <GreenButton class="font" v-bind:isActive=true v-bind:name="'GlucoseChart' | localize"/>
    </router-link>
    <router-link class="button-wrapper"
                 :to="{name: 'HelperMap'}">
      <GreenButton class="font" v-bind:isActive=true v-bind:name="'HelperMap' | localize"/>
    </router-link>
    <router-link class="button-wrapper"
                 :to="{name: 'Nightscout'}">
      <GreenButton class="font" v-bind:isActive=true v-bind:name="'Nightscout'"/>
    </router-link>
  </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import GreenButton from "@/views/GreenButton.vue"

    @Component({
      components: {
        GreenButton
      },
    })
    export default class Home extends Vue {
    }
</script>
<style scoped lang="scss">
  .button-wrapper {
    margin: 30px;
    display: inline-block;
  }

  .font {
    font-size: 2em;
    font-weight: bold;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
