<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header" v-bind:class="{ error: !isSuccess, success: isSuccess }">
                        <h3 v-if="!isSuccess">
                            {{ 'Error' | localize }}
                        </h3>
                        <h3 v-if="isSuccess">
                            {{ 'Success' | localize }}
                        </h3>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            {{ 'DefaultErrorMessage' | localize }}
                        </slot>
                    </div>
                    <button class="modal-default-button" @click="$emit('close')">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
    import {Vue, Prop, Component} from "vue-property-decorator";

    @Component
    export default class ModalWindow extends Vue {
        @Prop() readonly isSuccess!: boolean
    }
</script>

<style scoped lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        max-width: 50%;
        max-height: 50%;
        width: 300px;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        padding: 5px;
        margin-top: 0;
    }

    .error h3 {
        background-color: #ffb6b6;
    }

    .success h3 {
        background-color: #d0ffb6;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-container, .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>