<template>
    <div class="not-found">
        <h1>Nightscout</h1>
          <p>{{ 'NightscoutPageOffer' | localize }}</p>
          <b>{{ 'NightscoutPageFreeMonth' | localize }}</b>
          <p><img :src="getImageUrl('example_page.png')" alt="nightscout_example_page"></p>
      {{ 'NightscoutPageSituationsList' | localize }}
          <ul>
            <li>{{ 'NightscoutPageSituationAndroidAPS' | localize }}</li>
            <li>{{ 'NightscoutPageSituationRemoteControl' | localize }}</li>
            <li>{{ 'NightscoutPageSituationReport' | localize }}</li>
            <li>{{ 'NightscoutPageSituationBrowser' | localize }}</li>
          </ul>
          <div class="terms">
              <h2>{{ 'NightscoutPageTerms' | localize }}</h2>
              <ol>
                <li>{{ 'NightscoutPageTermsFreeMonth' | localize }}</li>
                <li>{{ 'NightscoutPageTermsLocation' | localize }}</li>
                <li>{{ 'NightscoutPageTermsInit' | localize }}</li>
                <li>{{ 'NightscoutPageTermsSavingParams' | localize }}</li>
                <li>{{ 'NightscoutPageTermsSavingData' | localize }}</li>
                <li>{{ 'NightscoutPageTermsBeautifulURL' | localize }}</li>
              </ol>
          </div>
          <p>{{ 'NightscoutPageDB' | localize }}</p>
          <p>{{ 'NightscoutPageServiceCancellation' | localize }}</p>
          <p class="price">{{ 'NightscoutPagePrice' | localize }}</p>
          <p>{{ 'NightscoutPageQuestions' | localize }}<b>
            <router-link :to="{name: 'Feedback'}" target="_blank">{{ 'FeedbackLink' | localize }}</router-link>
          </b>.
          </p>
    </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({})
export default class Nightscout extends Vue {
  private getImageUrl(filename: string) {
    const images = require.context('@/assets/nightscout/')
    return images('./' + filename)
  }
}
</script>

<style scoped lang="scss">
img {
  height: 50%;
  width: 50%;
}
ul, ol {
  list-style-position: inside;
}
.price {
  background-color: #91fffb;
  padding: 10px;
  color: #000000;
}
.terms {
  background-color: #b0ffd3;
  padding: 10px;
  color: #000000;
}
</style>
