<template>
    <div class="not-found">
        <h1>404 Not Found</h1>
        <div>
            {{ 'NotFoundText' | localize }}
            <b>
                <router-link :to="{name: 'Feedback'}">{{ 'FeedbackLink' | localize }}</router-link>
            </b>.
        </div>
    </div>
</template>

<style scoped lang="scss">
    .not-found {
        max-width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
</style>
