<template>
    <button @click="$emit('actionButton')" :disabled="!isActive" class="button" :class="buttonClass">{{ name }}</button>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator'

    @Component
    export default class ParentButton extends Vue {
        @Prop() isActive!: boolean
        @Prop() name!: string
        buttonClass = ''
    }
</script>

<style lang="scss">
    @import "~@/styles/button.scss";

    button:disabled, button:hover:disabled {
        background-color: rgb(87, 87, 87);
        color: rgb(170, 170, 170);
        background-color: rgba(19, 1, 1, 0.3);
        border-color: rgba(195, 195, 195, 0.3);
        cursor: default;
    }
</style>
