<script lang="ts">
    import ParentButton from './ParentButton.vue'
    import {Component} from "vue-property-decorator";

    @Component
    export default class RedButton extends ParentButton {
      buttonClass = 'button-red';
    }
</script>

<style lang="scss">
  .button-red {
    background-color: rgb(125, 32, 32);
    border: 1px solid rgb(126, 33, 33);
  }
  .button-red:hover {
    background-color: rgb(134, 64, 64);
  }
</style>
