<template>
  <span class="timezone">
    <label for="timezone">{{ 'Timezone' | localize }}: </label>
    <select id="timezone" @change="$emit('timezoneSelected', $event.target.value)">
      <option value=0 selected disabled>+00:00</option>
      <option v-for="(offset, label) in timezoneList" :value="offset" :key="label">{{ label }}</option>
    </select>
  </span>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component
export default class Timezone extends Vue {
  private timezoneList = {
    "-12:00": -43200000,
    "-11:00": -39600000,
    "-10:00": -36000000,
    "-09:30": -34200000,
    "-09:00": -32400000,
    "-08:00": -28800000,
    "-07:00": -25200000,
    "-06:00": -21600000,
    "-05:00": -18000000,
    "-04:00": -14400000,
    "-03:30": -12600000,
    "-03:00": -10800000,
    "-02:00": -7200000,
    "-01:00": -3600000,
    "00:00": 0,
    "+01:00": 3600000,
    "+02:00": 7200000,
    "+03:00": 10800000,
    "+03:30": 12600000,
    "+04:00": 14400000,
    "+04:30": 16200000,
    "+05:00": 18000000,
    "+05:30": 19800000,
    "+05:45": 20700000,
    "+06:00": 21600000,
    "+06:30": 23400000,
    "+07:00": 25200000,
    "+08:00": 28800000,
    "+08:45": 31500000,
    "+09:00": 32400000,
    "+09:30": 34200000,
    "+10:00": 36000000,
    "+10:30": 37800000,
    "+11:00": 39600000,
    "+12:00": 43200000,
    "+12:45": 45900000,
    "+13:00": 46800000,
    "+14:00": 50400000,
  }
}
</script>

<style scoped lang="scss">
  #timezone {
    //display: inline-block;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    //margin: 0;
    margin: 30px 30px 30px 10px;
    border: 1px solid rgb(33, 126, 74);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23217e4a%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
</style>