<template>
    <div id="chart-page">
        <label for="scale">{{ 'ChartFileScale' | localize }}:</label>
        <input type="number" step="0.1" id="scale" v-model.number="scale" :min=0.1 :max=10 class="blood_threshold_form"
               v-on:keyup.enter="setDataPeriod()">
        <GreenButton @actionButton=exportToPng v-bind:isActive=true v-bind:name="'ExportToFile' | localize"/>
        <h1>{{ 'GlucoseChart' | localize }}</h1>
        <div id="chart-wrapper">
            <Chart :chartData="chartData"/>
            <div id="analytics">
                {{ 'AverageGlucose' | localize }}: {{ average }}
                (
                {{ 'LowGlucosePercent' | localize }}: {{ loPercent }}%,
                {{ 'InGlucosePercent' | localize }}: {{ inPercent }}%,
                {{ 'HighGlucosePercent' | localize }}: {{ highPercent }}%
                )
            </div>
        </div>
        <div>
          <label for="from">{{ 'FromDate' | localize }}:</label>
          <input type="date" id="from" :min=minDate :max=maxDate v-model="start" required class="date_form"
                 v-on:keyup.enter="setDataPeriod()"/>
          <label for="to">{{ 'ToDate' | localize }}:</label>
          <input type="date" id="to" :min=minDate :max=maxDate v-model="end" required class="date_form"
                 v-on:keyup.enter="setDataPeriod()"/>
          <div class="units_form">
              <div class="units_form-item item-1">
                  <input type="radio" id="units-mmol-l" value="mmol/L" v-model="units" @change="changeUnits"
                         v-on:keyup.enter="setDataPeriod()">
                  <label for="units-mmol-l">mmol/L</label>
              </div>
              <div class="units_form-item item-2">
                  <input type="radio" id="units-mg-dl" value="mg/dL" v-model="units" @change="changeUnits"
                         v-on:keyup.enter="setDataPeriod()">
                  <label for="units-mg-dl">mg/dL</label>
              </div>
          </div>
          <div>
              <label for="minValue">{{ 'HypoglycemicThreshold' | localize }}:</label>
              <input type="number" step="0.1" id="minValue" v-model.number="minValue" :min=1 :max=maxValue-0.1 class="blood_threshold_form"
                     v-on:keyup.enter="setDataPeriod()">
              <label for="maxValue">{{ 'HyperglycemiaThreshold' | localize }}:</label>
              <input type="number" step="0.1" id="maxValue" v-model.number="maxValue" :min=minValue+0.1 class="blood_threshold_form"
                     v-on:keyup.enter="setDataPeriod()">
          </div>
          <GreenButton @actionButton=setDataPeriod v-bind:isActive=true v-bind:name="'Generate' | localize"/>
        </div>
    </div>
</template>

<script lang="ts">
    import Chart from '@/components/Chart.vue';
    import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
    import {RawDataDto} from "@/dto/RawDataDto";
    import DomToImage from 'dom-to-image';
    import GreenButton from "@/views/GreenButton.vue"
    import GoogleAnalytics from "@/components/GoogleAnalytics.vue";

    @Component({
        components: {
            Chart,
            GreenButton,
        },
    })
    export default class ChartPage extends Vue {
        @Prop() rawData!: RawDataDto
        private chartData: object = {}
        private minDate: string = ChartPage.formatDate(new Date(this.rawData.labels[0]))
        private maxDate: string = ChartPage.formatDate(new Date(this.rawData.labels[this.rawData.data.length - 1]))
        private average = '0'
        private start = this.minDate
        private end = this.maxDate
        private units = localStorage.units ?? 'mmol/L'
        private minValueParam = localStorage.minValueParam ?? ((this.units == 'mmol/L') ? 3.9 : 70)
        private maxValueParam = localStorage.maxValueParam ?? ((this.units == 'mmol/L') ? 9.4 : 170)
        private loPercent = '0'
        private inPercent = '0'
        private highPercent = '0'
        private convertedData: number[] = []
        private timerMinValueChanged!: number
        private timerMaxValueChanged!: number
        private minValueOnUnitsChanged = false
        private maxValueOnUnitsChanged = false
        private scale = localStorage.scale ?? 1

        @Watch('units')
        private onUnitsChanged(newVal: string) {
            GoogleAnalytics.sendChartPageEventToGoogle('unitsChanged', 'chartInterface')
            this.units = newVal
            localStorage.units = newVal
        }

        @Watch('scale')
        private onScaleChanged(newVal: number) {
            GoogleAnalytics.sendChartPageEventToGoogle('scaleChanged', 'chartInterface')
            this.scale = newVal
            localStorage.scale = newVal
        }

        @Watch('start')
        private onStartChanged() {
            GoogleAnalytics.sendChartPageEventToGoogle('startChanged', 'chartInterface')
        }

        @Watch('end')
        private onEndChanged() {
            GoogleAnalytics.sendChartPageEventToGoogle('endChanged', 'chartInterface')
        }

        @Watch('minValue')
        private onMinValueChanged() {
            if (!this.minValueOnUnitsChanged) {
                clearTimeout(this.timerMinValueChanged)
                this.timerMinValueChanged = setTimeout(() => {
                    GoogleAnalytics.sendChartPageEventToGoogle('minValueChanged', 'chartInterface')
                }, 2000)
            }
            this.minValueOnUnitsChanged = false
        }

        @Watch('maxValue')
        private onMaxValueChanged() {
            if (!this.maxValueOnUnitsChanged) {
                clearTimeout(this.timerMaxValueChanged)
                this.timerMaxValueChanged = setTimeout(() => {
                    GoogleAnalytics.sendChartPageEventToGoogle('maxValueChanged', 'chartInterface')
                }, 2000)
            }
            this.maxValueOnUnitsChanged = false
        }

        get minValue(): number {
            return this.minValueParam
        }

        set minValue(value: number) {
            this.minValueParam = (value < this.maxValueParam) ? (value >= 1 ? value : 1) : (this.maxValueParam - 0.1)
            localStorage.minValueParam = this.minValueParam
        }

        get maxValue(): number {
            return this.maxValueParam
        }

        set maxValue(value: number) {
            this.maxValueParam = value > this.minValue ? value : this.minValue + 0.1
            localStorage.maxValueParam = this.maxValueParam
        }

        mounted() {
            this.assignConvertedData()
            this.prepareChartData(this.rawData.labels, this.convertedData)
        }

        private assignConvertedData() {
            this.convertedData = this.units == 'mmol/L' ? this.rawData.data.map(item => parseFloat((item / 18).toFixed(1))) : this.rawData.data
        }

        private changeUnits() {
            this.assignConvertedData()
            this.minValueOnUnitsChanged = true
            this.maxValueOnUnitsChanged = true
            this.minValueParam = (this.units == 'mmol/L' ? parseFloat((this.minValueParam / 18).toFixed(1)) : parseFloat((this.minValueParam * 18).toFixed(1)))
            this.maxValueParam = (this.units == 'mmol/L' ? parseFloat((this.maxValueParam / 18).toFixed(1)) : parseFloat((this.maxValueParam * 18).toFixed(1)))
        }

        private setDataPeriod() {
            GoogleAnalytics.sendChartPageEventToGoogle('chartGenerate', 'chartInterface')
            const start = new Date(this.start).getTime()
            const end = new Date(this.end).getTime() + 86399999
            const rawLabels: number[] = []
            for (const key in this.rawData.labels) {
                rawLabels[key] = this.rawData.labels[key];
            }
            const rawDataList: number[] = []
            for (const key in this.convertedData) {
                rawDataList[key] = this.convertedData[key];
            }
            const filteredLabels = rawLabels.filter(function (timestamp: number) {
                return (timestamp > start) && (timestamp < end)
            })
            const firstValue = filteredLabels[0]
            const lastValue = filteredLabels[filteredLabels.length - 1]
            const firstKey = rawLabels.indexOf(firstValue)
            const lastKey = rawLabels.indexOf(lastValue)

            const filteredData = rawDataList.slice(firstKey, lastKey + 1)
            this.prepareChartData(filteredLabels, filteredData)
        }

        private prepareChartData(labels: number[], data: number[]) {
            const formattedLabels = labels.map(function (timestamp: number) {
                const date = new Date(timestamp)
                return date.toLocaleString('en-GB', {timeZone: 'utc', hour12: false})
            });

            const averageNumber = data.reduce((a: number, b: number) => (a + b)) / data.length
            this.average = averageNumber.toFixed(2)

            const loCount = data.filter((value: number) => value < this.minValue)
            const loPercentNumber = (loCount.length * 100) / data.length
            this.loPercent = loPercentNumber.toFixed(2)

            const highCount = data.filter((value: number) => value > this.maxValue)
            const highPercentNumber = (highCount.length * 100) / data.length
            this.highPercent = highPercentNumber.toFixed(2)

            const inPercentNumber = 100 - loPercentNumber - highPercentNumber
            this.inPercent = inPercentNumber.toFixed(2)

            const minLine = new Array(formattedLabels.length)
            minLine.fill(this.minValue)
            const maxLine = new Array(formattedLabels.length)
            maxLine.fill(this.maxValue)
            this.chartData = {
                labels: formattedLabels,
                datasets: [
                    {
                        label: 'Уровень сахара',
                        backgroundColor: 'transparent',
                        data: data,
                        pointBackgroundColor: '#0096af',
                        borderWidth: 1,
                        pointBorderColor: '#0096af',
                        radius: 1,
                        borderColor: '#007386',
                    },
                    {
                        label: 'min',
                        backgroundColor: 'rgba(255,186,186,0.4)',
                        data: minLine,
                        pointBackgroundColor: '#f87979',
                        borderWidth: 1,
                        pointBorderColor: '#f87979',
                        radius: 1,
                        borderColor: '#FC2525',
                    },
                    {
                        label: 'max',
                        backgroundColor: 'rgba(196,255,186,0.3)',
                        data: maxLine,
                        pointBackgroundColor: '#ccfd16',
                        borderWidth: 1,
                        pointBorderColor: '#ccfd16',
                        radius: 1,
                        borderColor: '#89ac00',
                    }
                ]
            }
        }

        private static formatDate(date: Date) {
            let month = '' + (date.getMonth() + 1)
            let day = '' + date.getDate()
            const year = date.getFullYear()

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        private exportToPng() {
            GoogleAnalytics.sendChartPageEventToGoogle('exportedToPng', 'chartInterface')
            const filename = 'glucose_chart_' + this.start + '-' + this.end + '.png'
            const node = document.getElementById('chart-wrapper') as HTMLElement;
            DomToImage.toPng(node, {
                        width: node.clientWidth * this.scale,
                        height: node.clientHeight * this.scale,
                        style: {
                            transform: 'scale(' + this.scale + ')',
                            transformOrigin: 'top left',
                            width: node.offsetWidth + "px",
                            height: node.offsetHeight + "px"
                        }
                    }
                )
                .then(function (dataUrl: string) {
                    const link = document.createElement('a');
                    link.download = filename
                    link.href = dataUrl;
                    link.click();
                });
        }
    }
</script>

<style scoped lang="scss">
    .date_form {
        margin: 30px 30px 30px 10px;
        border-radius: 4px;
        padding: 8px;
        text-align: center;
        border: 1px solid;
    }

    .blood_threshold_form {
        width: 50px;
        margin: 30px 30px 30px 10px;
        border-radius: 4px;
        padding: 8px;
        text-align: center;
        border: 1px solid;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-color: rgb(43, 153, 91);
    }

    #analytics {
        background-color: #d4d4d4;
        padding: 5px;
    }

    #chart-wrapper {
        background-color: #ffffff;
        padding: 10px;
        display: inline-block;
        width: 85%;
    }

    #chart-page, #line-chart {
      width: 100%;
    }

    .units_form {
        text-align: center;
        overflow: hidden;
    }

    .units_form-item {
        display: inline-block;
        background: #c2c2c2;
        color: #636363;
    }

    .units_form-item input[type=radio] {
        display: none;
    }

    .units_form-item label {
        display: inline-block;
        padding: 0 15px;
        line-height: 34px;
        border: 1px solid #999;
        border-right: none;
        cursor: pointer;
        user-select: none;
    }

    .units_form .item-1 label {
        border-radius: 6px 0 0 6px;
    }

    .units_form .item-2 label {
        border-radius: 0 6px 6px 0;
        border-right: 1px solid #999;
    }

    .units_form input[type=radio]:checked + label {
        font-weight: bold;
        background: #bbffbb;
        color: #2c3e50;
    }
</style>