<template>
    <div class="chart">
        <h1>{{ 'LoadDataFile' | localize }}</h1>
        <p id="label">({{ this.service.label }})</p>
        <div>
            <router-link :to="{name: this.service.instructionRouteName}" target="_blank">
                <GreenButton class="instruction" v-bind:isActive=true v-bind:name="'UnloadingInstruction' | localize"/>
            </router-link>
        </div>
        <div class="container">
            <FileInput v-bind:fileName="fileName" v-bind:acceptFileFormat=this.service.acceptFileFormat
                       @fileUpload="handleFileUpload"/>
            <router-link :to="{name: 'ChartPage', params: {rawData: rawData}}">
                <GreenButton class="button-wrapper" v-bind:isActive=dataIsUploaded v-bind:name="'ChartGenerate' | localize"/>
            </router-link>
        </div>
        <ModalWindow v-if="isError" @close=clearError v-bind:isSuccess=false>
            <p slot="body">{{ errorMessage | localize }}</p>
        </ModalWindow>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Ref} from 'vue-property-decorator'
    import {RawDataDto} from "@/dto/RawDataDto"
    import ModalWindow from "@/views/ModalWindow.vue"
    import GreenButton from "@/views/GreenButton.vue"
    import FileInput from "@/views/FileInput.vue"
    import {ServiceFactory} from "@/services/ServiceFactory";
    import {ServiceInterface} from "@/services/ServiceInterface";

    @Component({
        components: {
            ModalWindow,
            GreenButton,
            FileInput
        }
    })
    export default class DataLoader extends Vue {
        @Prop() readonly serviceType!: string
        private service!: ServiceInterface
        private rawData: null | RawDataDto = null
        private dataIsUploaded = false
        private fileName: string | null = null
        @Ref('file') readonly file!: HTMLFormElement
        private errorMessage = ''

        public constructor() {
            super();
            const service = ServiceFactory.createFromName(this.serviceType)
            if (service == undefined) {
                this.$router.push({'name': 'NotFound'})
            } else {
                this.service = service
            }
        }

        get isError() {
            return this.errorMessage !== '';
        }

        private setError(errorCode: string) {
            this.errorMessage = errorCode;
        }

        private clearError() {
            this.errorMessage = '';
        }

        private handleFileUpload(file: File | null) {
            if (file != null && this.checkFile(file)) {
                this.fetchData(process.env.VUE_APP_API_HOST + "/open/build-chart", file, this.serviceType)
            } else {
                this.dataIsUploaded = false
                this.fileName = null
            }
        }

        private checkFile(file: File) {
            if (this.checkFileSize(file)) {
                this.clearError()
                return true
            }

            return false
        }

        private checkFileSize(file: File) {
            if (file.size < 1 || file.size > 10485760) {
                this.setError('BadSize')

                return false
            }

            return true
        }

        private fetchData(uri: string, file: File, serviceType: string) {
            const formData = new FormData()
            formData.append('file', file)
            formData.append('serviceType', serviceType)
            const requestOptions = {
                method: "POST",
                body: formData
            }

            fetch(uri, requestOptions)
                .then(response => {
                    if (!response.ok) throw Error(response.statusText)
                    return response.json()
                })
                .then(data => {
                    if (data.data.length > 0) {
                        this.rawData = new RawDataDto(data.labels, data.data)
                        this.dataIsUploaded = true
                        this.fileName = file.name
                    } else {
                        this.setError('EmptyDataError')
                        this.dataIsUploaded = false
                        this.fileName = null
                    }
                })
                .catch(() => this.setError('DefaultErrorMessage'))
        }
    }
</script>

<style scoped lang="scss">
    #label {
        background-color: #c4ffba;
        padding: 5px;
        display: inline-block;
        margin: 0 0 20px 0;
    }

    .button-wrapper {
        margin: 30px
    }

    .container {
        margin-top: 10px;
    }

    .instruction::before {
        content: url(~@/assets/instruction_icon.png);
        width: 19px;
        height: 16px;
        vertical-align: middle;
        padding-right: 5px;
        display: inline-block;
    }
</style>
