<template>
    <div>
        <h1>{{ 'SendMessage' | localize }}</h1>
        <form class="vue-form" @submit.prevent="sendFeedback">
            <div>
                <label class="label" for="name">{{ 'Name' | localize }}*</label>
                <input type="text" name="name" id="name" required :placeholder="'NamePlaceholder' | localize"
                       v-model="name">
            </div>
            <div>
                <label class="label" for="email">{{ 'Email' | localize }}*</label>
                <input type="email" name="email" id="email" required :placeholder="'EmailPlaceholder' | localize"
                       class="email" v-model="email">
            </div>
            <div>
                <label class="label" for="textarea">{{ 'Message' | localize }}*</label>
                <textarea class="message" name="textarea" id="textarea" required
                          :placeholder="'MessagePlaceholder' | localize"
                          v-model="message.text"
                          :maxlength="message.maxlength"></textarea>
                <span class="counter"> {{ message.text.length }} / {{ message.maxlength }} </span>
            </div>
            <FileInput v-bind:fileName="fileName" @fileUpload="handleFileUpload"/>
            <div class="button-wrapper">
                <GreenButton v-bind:isActive=!sendingInProgress v-bind:name="'Send' | localize"/>
            </div>
        </form>
        <ModalWindow v-if="isError" @close=clearError v-bind:isSuccess=false>
            <p slot="body">{{ errorMessage | localize }}</p>
        </ModalWindow>
        <ModalWindow v-if="isSent" @close="$router.push({ name: 'Home' })" v-bind:isSuccess=true>
            <p slot="body">{{ 'feedbackSent' | localize }}</p>
        </ModalWindow>
    </div>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import ModalWindow from "@/views/ModalWindow.vue"
    import GreenButton from "@/views/GreenButton.vue"
    import FileInput from "@/views/FileInput.vue"

    @Component({
        components: {
            ModalWindow,
            GreenButton,
            FileInput,
        }
    })
    export default class Feedback extends Vue {
        private name = ''
        private email = ''
        private message = {
            text: '',
            maxlength: 2000,
        }
        private fileName: string | null = null
        private file!: File
        private errorMessage = ''
        private submitted = false
        private sendingInProgress = false

        get isError() {
            return this.errorMessage !== '';
        }

        get isSent() {
            return this.submitted;
        }

        private setError(errorCode: string) {
            this.errorMessage = errorCode;
        }

        private clearError() {
            this.sendingInProgress = false
            this.errorMessage = ''
        }

        private handleFileUpload(file: File | null) {
            if (file != null && this.checkFile(file)) {
                this.file = file
                this.fileName = this.file.name
            } else {
                this.fileName = null
            }
        }

        private checkFile(file: File) {
            if (this.checkFileSize(file)) {
                this.clearError()
                return true
            }

            return false
        }

        private checkFileSize(file: File) {
            if (file.size < 1 || file.size > 10485760) {
                this.setError('BadSize')

                return false
            }

            return true
        }

        private sendFeedback() {
            this.sendingInProgress = true
            const formData = new FormData()
            formData.append('name', this.name)
            formData.append('email', this.email)
            formData.append('message', this.message.text)
            if (this.file) {
                formData.append('file', this.file)
            }
            const requestOptions = {
                method: "POST",
                body: formData
            }

            fetch(process.env.VUE_APP_API_HOST + '/feedback', requestOptions)
                .then(response => {
                        if (!response.ok) throw Error(response.statusText)
                        this.submitted = true
                    }
                )
                .catch(() => this.setError('DefaultErrorMessage'))
        }
    }
</script>

<style scoped lang="scss">
    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .vue-form {
        font-size: 16px;
        width: 500px;
        max-width: 95%;
        padding: 15px 30px;
        border-radius: 4px;
        margin: 0 auto;
    }

    .vue-form div {
        position: relative;
        margin: 20px 0;
    }

    .vue-form .label {
        color: #94aab0;
        margin-bottom: 10px;
        display: block;
    }

    .vue-form input,
    .vue-form textarea,
    .vue-form select,
    .vue-form label {
        color: #2b3e51;
    }

    .vue-form input[type="text"],
    .vue-form input[type="email"],
    .vue-form textarea {
        display: block;
        width: 100%;
        appearance: none;
    }

    .vue-form input[type="text"],
    .vue-form input[type="email"],
    .vue-form textarea {
        padding: 12px;
        border: 1px solid #cfd9db;
        background-color: #ffffff;
        border-radius: 0.25em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    }

    .vue-form input[type="text"]:focus,
    .vue-form input[type="email"]:focus,
    .vue-form textarea:focus {
        outline: none;
        border-color: #2c3e50;
        box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
    }

    .vue-form textarea {
        min-height: 120px;
        resize: vertical;
        overflow: auto;
    }

    .vue-form .error {
        border-color: #e94b35 !important;
    }

    .vue-form .counter {
        background-color: #ecf0f1;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;
        padding: 4px;
    }

    .button-wrapper {
        float: right;
    }

    @-webkit-keyframes cd-bounce {
        0%,
        100% {
            -webkit-transform: scale(1);
        }
        50% {
            -webkit-transform: scale(0.8);
        }
    }

    @-moz-keyframes cd-bounce {
        0%,
        100% {
            -moz-transform: scale(1);
        }
        50% {
            -moz-transform: scale(0.8);
        }
    }

    @keyframes cd-bounce {
        0%,
        100% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.8);
        }
    }
</style>