<template>
  <div id="map">
    <p>
      <label for="phoneNumber">{{ 'RemoveHelperConfirmDeletion' | localize }}+</label>
      <input type="number" id="phoneNumber" class="no-spinner" v-model="phone">
    </p>
    <RedButton @actionButton=sendCode v-bind:isActive=isPhoneFilled v-bind:name="'SendConfirmationCode' | localize "/>
    <ModalWindow v-if="isCodeSent && !isConfirmationSent" v-bind:isSuccess=true @close=confirmCode>
      <p slot="body">
        <label for="code">{{ 'EnterSmsCode' | localize }}</label>
        <input v-model="userCode" type="number" id="code" class="no-spinner">
      </p>
    </ModalWindow>
    <ModalWindow v-if="isConfirmationSent" v-bind:isSuccess=isCodeConfirmed @close="$router.push({ name: 'HelperMap' })">
      <p slot="body">{{ 'RemoveHelperSuccessfully' | localize }}</p>
    </ModalWindow>
    <ModalWindow v-if="isError" @close=clearError v-bind:isSuccess=false>
      <p slot="body">{{ errorMessage }}</p>
    </ModalWindow>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import RedButton from "@/views/RedButton.vue"
import ModalWindow from "@/views/ModalWindow.vue"

@Component({
  components: {
    RedButton,
    ModalWindow,
  }
})
export default class RemoveHelperForm extends Vue {
  private phone = ''
  private isCodeSent = false
  private isCodeConfirmed = false
  private isConfirmationSent = false
  private errorMessage = ''
  private userCode = ''
  private userId = 0
  private get isPhoneFilled() {
    return this.phone !== ''
  }

  private get isError() {
    return this.errorMessage !== '';
  }

  private setError(errorCode: string) {
    this.errorMessage = errorCode;
  }

  private clearError() {
    this.errorMessage = ''
  }
  private sendCode() {
    const requestOptions = {
      method: "DELETE",
      body: JSON.stringify({
      })
    }
    fetch(process.env.VUE_APP_API_HOST + '/helper-map/' + this.phone, requestOptions)
        .then(response => {
              if (!response.ok) {
                response.json()
                    .then(text => {
                          throw Error(text)
                        }
                    )
                    .catch((error) => this.setError(error.message))
              } else {
                response.json()
                    .then(data => {
                          this.isCodeSent = true
                          this.userId = data
                        }
                    )
                    .catch((error) => this.setError(error.message))
              }
            }
        )
        .catch(() => this.setError('DefaultErrorMessage'))
  }
  private confirmCode() {
    const requestOptions = {
      method: "PUT",
      body: JSON.stringify({
        code: this.userCode
      })
    }
    fetch(process.env.VUE_APP_API_HOST + '/helper-map/' + this.userId.toString() + '/remove-confirm', requestOptions)
        .then(response => {
              if (!response.ok) {
                response.json()
                    .then(text => {
                          throw Error(text)
                        }
                    )
                    .catch((error) => this.setError(error.message))
              } else {
                this.isConfirmationSent = true
                this.isCodeConfirmed = true
              }
            }
        )
        .catch(() => this.setError('DefaultErrorMessage'))
  }
}
</script>

<style scoped lang="scss">
  #l-map {
    height: 80%;
    margin: 10px;
  }
  #map {
    height: 90vh;
    width: 80vw;
    padding: 0 10%;
  }
  input[type=number].no-spinner::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>