<template>
    <div id="app" :key="language">
        <label id="language">
            <select v-model="language" class="language">
                <option value="ru">Русский</option>
                <option value="en">English</option>
                <option value="ua">Українська</option>
            </select>
        </label>
        <div id="left-sidebar"><Social/></div>
        <div id="right-sidebar"><Donate/></div>
        <div><Header/></div>
        <div id="content"><router-view/></div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator';
    import Header from '@/views/Header.vue'
    import GoogleAnalytics from "@/components/GoogleAnalytics.vue";
    import Social from "@/views/Social.vue";
    import Donate from "@/views/Donate.vue";

    @Component({
        components: {
            Header,
            Social,
            Donate
        },
    })
    export default class App extends Vue {
        created() {
            document.title = "diaHelper";
        }

        private language: string = localStorage.language || 'en'

        @Watch('language')
        onLanguageChanged(newVal: string) {
            GoogleAnalytics.sendChartPageEventToGoogle('switchLanguage', 'commonInterface')
            this.language = newVal
            localStorage.language = newVal
        }
    }
</script>
<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #logo {
        height: 200px;
        width: 200px;
    }

    #content {
      display: flex;
    }

    #content > div {
      display: inline-block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0 10px;
    }

    #language {
        float: right;
        text-align: right;
    }
    #left-sidebar {
      float: left;
      height: 100vh;
    }
    #right-sidebar {
      float: right;
      height: 100vh;
    }
    @media screen and (max-width: 800px) {
      #left-sidebar {
        float: none;
        height: auto;
      }
      #right-sidebar {
        float: none;
        height: auto;
      }
    }
</style>
